body{
    background-color: rgba(245, 250, 255, 0.671);
    font-family:Arial, Helvetica, sans-serif ;
    overflow-x: hidden;
    margin: 0;
    padding: 0 0px;
    
}
ul,li{
    margin:0;
    padding: 0;
}
@-webkit-keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}